<nav class="py-2 bg-body-tertiary border-bottom">
  <div class="container d-flex flex-wrap">
    <ul class="nav me-auto">
      <li class="nav-item">
        <a
          class="nav-link link-body-emphasis px-2 active"
          routerLink="/"
          routerLinkActive="active"
          aria-current="page"
          >Početna</a
        >
      </li>
      <li class="nav-item">
        <a
          routerLink="/products"
          routerLinkActive="active"
          class="nav-link link-body-emphasis px-2 active"
          >Proizvodi</a
        >
      </li>
      <li class="nav-item">
        <a
          routerLink="/"
          routerLinkActive="active"
          class="nav-link link-body-emphasis px-2 active"
          >Pitanja</a
        >
      </li>
      <li class="nav-item">
        <a
          routerLink="/"
          routerLinkActive="active"
          class="nav-link link-body-emphasis px-2 active"
          >Kontakt</a
        >
      </li>
    </ul>
    <ul class="nav">
      <li class="nav-item">
        <a
          routerLink="/cart"
          routerLinkActive="active"
          class="nav-link link-body-emphasis px-2 active"
          >Košarica</a
        >
      </li>

      @if (!accountService.currentUser()) {
      <li class="nav-item">
        <a
          (click)="openLoginModal()"
          class="nav-link link-body-emphasis px-2 active"
          style="cursor: pointer"
        >
          Prijava</a
        >
      </li>
      <li class="nav-item">
        <a
          (click)="openRegisterModal()"
          class="nav-link link-body-emphasis px-2 active"
          style="cursor: pointer"
        >
          Registracija</a
        >
      </li>
      } @else {
      <li class="nav-item">
        <span class="nav-link px-2"
          >Zdravo, {{ accountService.currentUser()?.username }}</span
        >
      </li>
      <li class="nav-item">
        <a
          (click)="me()"
          class="nav-link link-body-emphasis px-2 active"
          style="cursor: pointer"
          >O meni</a
        >
      </li>
      <li class="nav-item">
        <a
          (click)="logout()"
          class="nav-link link-body-emphasis px-2 active"
          style="cursor: pointer"
          >Odjava</a
        >
      </li>
      }
    </ul>
  </div>
</nav>
